/* Button Styling */
.button{
    background-color: var(--black);
    padding: 0.7rem 1.1rem;
    border-radius: 50px;
    cursor: pointer;
    color: var(--white);
    min-width: 100px;
    text-align: center;
}
.button:hover {
    background-color: var(--purple);
    transition: all 0.3s ease-in-out;
    color: black;

}
.outline-btn{
    border: 3px solid var(--black);
    border-radius: 50px;
    padding: 0.5rem 1.1rem;
    color: var(--black);
    cursor: pointer;
    min-width: 100px;
    text-align: center;
}
.outline-btn:hover{
    background-color: var(--purple);
    transition: all 0.3s;
    border-color: var(--purple);
}