.grid-box{
    /* background: var(--purple); */
    background: rgba(230, 230, 230, 0.825);
    width: 230px;
    height: 230px;
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
.img-name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.coin-img{
    height: 3rem;
    width:  3rem;
    border-radius: 50%;
}
.coin-symbol{
    text-transform: uppercase;
    font-weight: 600;
    margin: 0rem;
}
.coin-name {
    margin: 0;
    font-weight: 400;
    color: var(--grey);
    font-size: 0.8rem;
  }
.growth-rate{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}
.pr{
    border-radius: 20px;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.negative{
    border: 2px solid var(--red);
    color: var(--red);
}
.negative:hover{
    background-color: var(--red);
    color: var(--black  );
    transition: all 0.5s;
}
.positive:hover{
    background-color: var(--green);
    color: var(--black);
    transition: all 0.5s;
}
.positive{
    border: 2px solid var(--green);
    color: var(--green);
}
.growth-icon{
    border-radius: 500px;
    padding: 0.2rem;
}
.price{
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 0.8rem;
    font-family: var(--poppins);
}
.pp{
    color: var(--green);
}
.pn{
    color: var(--red);
}
.values p{
    font-size: 0.8rem;
    font-weight: 600;
    font-family: var(--inter);
}
.values p span{
    color: var(--grey);
}
.grid-box:hover{
    scale: 1.03;
    transition: scale 0.4s ease-in-out;
}