/* Landing page styles */
.hero{
    display: flex;
    gap: 12rem;
    align-items: center;
    padding: 5rem 7rem ;
    position: relative;
}
.hero-text{
    width: 50%;
}
.hero-text h2{
    font-size: 6rem;
    font-weight: 800;
    margin: 0;
    font-family: var(--inter);  
    z-index: 100;
}
.hero-text #diff-txt{
    color: var(--black);
}
.hero-text p {
    font-family: var(--inter);
    color: var(--grey);
}
.btns{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-top: 2.5rem;
}
.purple-gradient1,
 .purple-gradient2,
 .purple-gradient3,
 .purple-gradient4{
    width: 25rem;
    height: 25rem;
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -1;
}
.purple-gradient1{
    right: 5rem;
    bottom: 0rem;
    background-color: var(--seaGreen);

}
.purple-gradient2{
    right: 15rem;
    top: 3rem;
    background-color: var(--purple);

}
.purple-gradient4{
    left: 55rem;
    width: 10rem;
    top: 3rem;
    background-color: var(--purple);

}
.purple-gradient3{
    left: -13rem;
    top: -8rem;
    background-color: var(--seaGreen);

}

.hero-img{
    align-self: center;
    position: relative;
}
.phone-img{
    width: 28rem;
    scale: 1.2;
    justify-self: self-end;
    /* position: absolute;
    right: -36rem;
    bottom: -10rem; */

}
