 /* nav styling */
 .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    position: sticky;
    top: 0;
    left: 0;
 }
.nav h4{
    all: unset;
    font-weight: 700;
    font-size: 3rem;

}
 .nav h4 span{
    color: var(--purple);
 }
 .nav-links{
    display: flex;
    gap: 2rem;
    align-items: center;
    font-family: var(--inter);
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--grey);
 }
 
 .nav-menu{
    display: none;
 }


 /* media queries */
 @media only screen and (max-width: 800px) {
    .nav-links{
        display: none;
    }
    .nav-menu{
        display: block;
    }
    .nav h4{
        font-size: 1.5rem;
    }
    .nav{
        padding: 1.5rem;
    }
    .menu{
        width: 40vw;
        padding: 2.5rem;
        background-color: var(--seaGreen);
        height: 100%;
        font-size: 1.3rem;
    }
 }